.navbar {
    display: flex;
    flex-direction: row; /* Postavi na red za horizontalni raspored */
    justify-content: start;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    z-index: 1000;
    font-family: "Bungee Hairline", sans-serif;
    font-weight: bold;
}

.navbar-logo-link {
    text-decoration: none; /* Ukloni podvučenost */
    color: inherit; /* Nasledi boju od roditelja */
    display: flex; /* Dodaj flex za logo i naziv */
    align-items: center; /* Poravnaj elemente po vertikali */
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px; /* Razmak između logotipa i menija */
}

.navbar-logo-image {
    height: 40px; /* Povećaj visinu logotipa */
    margin-right: 10px; /* Razmak između slike i naziva firme */
}

.navbar-logo-text {
    font-family: "Bungee Hairline", sans-serif;
    font-size: 20px;
    color: white; /* Boja teksta */
    margin: 0;
}

.navbar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    margin: 20px 0;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: gold;
}
